#body-style {

    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

#select-section {
    padding: 20px;
    margin: 20px 0;
    background-color: antiquewhite;
}

#googleMapSection {
    width: 100%;
    height: 400px;
}

#input-section {
    padding: 20px;
}

#loading-spinner {

    width: 200px;
}

#info-text-section {
    padding: 20px;
    margin: 20px 0;
    background-color: darkseagreen
}